$color0: #bababa; // #3d63d9;//navbar hover
$color1:#e0e6ed; // #4847ff;
$color2: #262626; // #4874ff;//navbar background
$color_navbar_bck: #FFFFFF; // #4874ff;//navbar background
$color_navbar_hover_bck: #bababa; // #4874ff;//navbar background
$color_navbar_text: #666666; // #4874ff;//navbar background

$color3: #e5e5e5; //#3c63d9;
$color4:#d8d8d8; // #6d90ff; // navbar dropdown link
$color_background: #e6e6e6;

$color_contentbck: #ffffff;

//#3c4858
html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #696969;
    font: 12px "微软雅黑", Helvetica;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

form,
table,
td,
h1,
h2,
h3,
h4,
ul,
ol,
li,
p {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none
}

input,
img {
    vertical-align: middle
}

html,
body {
    min-width: 100%;
    height: 100%;
}

body {
    -webkit-text-size-adjust: none;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

:focus {
    outline: 0;
}

a {
    color: inherit;
}

textarea {
    resize: none;
    overflow: auto;
}

a {
    -webkit-touch-callout: none;
    //-webkit-user-select: none;
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//input{ border:none;}
input:focus,
textarea:focus {
    outline: 0
}

//数据应用大标题添加按钮
.addBgPic {
    display: inline-block;
    height: 14px;
    width: 14px;
    cursor: pointer;
    background: url("../images/add_bg_btn.png") no-repeat;
}

body {
    padding: 0;
    margin: 0;
    background-color:$color_background;
    .browsehappy {
        margin: 0.2em 0;
        background: $color_background;
        color: #000;
        padding: 0.2em 0;
    }
    .header {
        height: 54px;
        clear: both;
        .navbar-header{
            height: 54px;
            padding-right:20px;
        }
        .navbar-header>a>img{
            height: 54px;
        }
        .navbar-au {
            background: $color_navbar_bck;
            font-size: 14px;
            margin-bottom: 0;
            border-radius: 0px;
            box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
            .logo {
                color: #ffffff;
            }
            .navbar-head {
                color: $color_navbar_text;
                padding-right: 0px !important;
                .navbar-right {
                    .help_tit {
                        font-size: 14px;
                        float: left;
                        width: 80px;
                        height: 52px;
                        line-height: 52px;
                        text-align: center;
                        cursor: pointer;
                    }
                    .help_tit:hover {
                        background: $color0;
                    }
                    .head_index {
                        float: left;
                        display: block;
                        min-width: 142px;
                        position: relative;
                        cursor: pointer;
                        .per_block {
                            padding-top: 16px;
                            padding-bottom: 16px;
                            padding-left: 20px;
                            padding-right: 23px;
                            display: block;
                            height: 52px;
                            .header_per_tit {
                                font-size: 14px;
                                color: $color_navbar_text;
                                display: block;
                                float: left;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                -o-text-overflow: ellipsis;
                                width: 88px;
                                overflow: hidden;
                                text-align: right;
                            }
                            .xl_bg {
                                position: absolute;
                                right: 20px;
                                top: 21px;
                                width: 6px;
                                height: 6px;
                                border: solid #fff;
                                border-width: 1px 1px 0 0;
                                -webkit-transform: rotate(135deg);
                                -moz-transform: rotate(135deg);
                                transform: rotate(135deg);
                                -webkit-transition: all 0.3s;
                                -moz-transition: all 0.3s;
                                transition: all 0.3s
                            }
                        }
                        .index_area_drop {
                            border: 0;
                            overflow: auto;
                            top: 52px;
                            right: 0;
                            border-radius: 0;
                            width: 142px;
                            min-width: 142px;
                            margin: 0;
                            padding: 0;
                            li {
                                margin-top: 0;
                                padding: 0;
                                height: 52px;
                                line-height: 52px;
                                background: #fff;
                                a {
                                    padding: 16px 20px;
                                    text-align: center;
                                    color: $color4;
                                    //background: #eef1fd;
                                }
                                //a:hover{}
                            }
                            li.zx_active a {
                                background: $color4;
                                color: #fff;
                            }
                        }
                    }
                    .head_index .open .xl_bg {
                        -webkit-transform: rotate(-45deg) !important;
                        transform: rotate(-45deg) !important;
                        top: 23px !important
                    }
                    .head_index:hover {
                        background: $color0;
                    }
                }
                .nav-top>a {
                    display: block;
                    padding: 0 10px;
                    margin: 8px 10px;
                    height: 36px; //52px
                    line-height: 36px;
                    text-decoration: none;
                    color: $color_navbar_text;
                    float: left;
                    .icon-head {
                        padding-right: 5px;
                    }
                }
                .nav-top>.active {
                    //background: $color0;
                    background: $color_navbar_hover_bck;
                    
                }
                .nav-top>a:hover {
                    //background: $color0;
                    //background: $color_navbar_hover_bck;
                    border-bottom: solid 3px orangered;
                }
            }
        }
    }
    //  login
    .loginPage {
        padding: 0;
        margin: 0;
        .title {
            background: #f4f4f4;
            padding: 0 30px;
            .pic {
                display: inline-block;
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
            .titleText {
                padding-top: 0;
                // float: right;
                display: inline-block;
                line-height: 50px;
                margin-right: 20px;
                font-size: 16px;
                color: #666;
                .titleLogin {
                    color: $color2;
                }
                .titleLogin:hover {
                    color: $color3;
                }
            }
        }
        .content {
            margin-top: 40px;
            position: relative;
            width: 100%;
            height: 100%;
            .contentModel {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 500px;
                
                .conCont {
                    border: solid 1px #f2f2f2;
                    border-radius: 15px;
                    padding: 40px;
                    background-color: white;
                    .conTitle {
                        padding: 20px 0 40px 0;
                        margin: 0;
                        font-size: 24px;
                        color: #333;
                        text-align: center;
                    }
                    .conError {
                        padding: 10px 0 20px 0;
                        text-align: center;
                        min-height: 50px;
                    }
                    .conOne {
                        padding-top: 0;
                        padding-bottom: 20px;
                        label {
                            font-size: 16px;
                            color: #666;
                            font-weight: bold;
                        }
                        .ipt {
                            /*padding-top: 10px;*/
                            display: inline-block;
                            width: 410px;
                            height: 38px;
                            background: #f7f8fa;
                            border: solid 1px #eaeaea;
                            padding: 0 10px;
                            font-size: 14px;
                        }
                    }
                    .textConfirm {
                        margin-top: 20px;
                        font-size: 14px;
                        color: #666666;
                    }
                    .btn {
                        margin-top: 20px;
                        width: 418px;
                        height: 38px;
                        border-radius: 2px;
                        border: 1px solid $color2;
                        background: $color2;
                        font-size: 16px;
                        font-weight: bold;
                        color: #ffffff;
                    }
                    .btn:hover {
                        background: $color3;
                    }
                    .footer {
                        margin-top: 40px;
                        text-align: center;
                        .titleText {
                            padding-top: 40px;
                            float: inherit;
                            font-size: 16px;
                            color: #666;
                            .titleLogin {
                                color: $color2;
                            }
                            .titleLogin:hover {
                                color: $color3;
                            }
                        }
                    }
                }
            }
        }
    }
    //window modal
    .modal-header {
        background: #f0f0f0;
        min-height: 50px;
        border-bottom: 0;
        .modal-header-title {
            color: #333;
            font-size: 16px;
        }
        .modal-header-close {
            float: right;
        }
    }
    .modal-body {
        .previewResult {
            .dataframe {
                thead th {
                    font-size: 14px;
                    height: 40px;
                    color: #999;
                    padding: 0 5px;
                    text-align: center;
                    border: solid 1px #999;
                }
                thead tr th:nth-child(1) {
                    padding: 0 15px;
                    text-align: center;
                    border: solid 1px #999;
                }
                tbody tr:nth-child(odd) {
                    background: #f9f9f9;
                }
                tbody tr:nth-child(even) {
                    background: #ffffff;
                }
                tbody th {
                    padding: 0 5px;
                    height: 40px;
                    text-align: center;
                    border: solid 1px #999;
                }
                tbody tr th:nth-child(1) {
                    padding: 0 15px;
                    text-align: center;
                    border: solid 1px #999;
                }
                tbody td {
                    padding: 0 5px;
                    text-align: center;
                    border: solid 1px #999;
                }
            }
        }
        .modal-body-title {
            text-align: center;
            color: #4847ef;
            font-size: 16px;
        }
        .body-title {
            margin-top: 30px;
            input {
                display: inline-block;
                width: 340px;
                height: 30px;
            }
        }
        .modal-body-name {
            display: inline-block;
            width: 190px;
            text-align: left;
            margin-left: 32%;
            margin-top: 30px;
            padding: 0 5px;
            border: solid 1px #eaeaea;
            height: 30px;
        }
        .modal-body-nameIpt {
            display: inline-block;
            width: 190px;
            border: solid 1px #eaeaea;
            height: 30px;
            color: #666666;
        }
        .modal-body-warning {
            margin-top: 10px;
            text-align: center;
            display: block;
            color: red;
        }
        .createTaskPlan {
            margin-top: 30px;
            font-size: 14px;
            height: 30px;
            color: #999;
            input {
                width: 80%;
                color: #333;
                border: solid 1px #eaeaea;
                font-size: 14px;
                padding: 5px 10px;
                height: 30px;
            }
            .diag_tit_set {
                width: 80px;
                font-size: 14px;
                color: #999;
                float: left;
                height: 30px;
                line-height: 30px;
            }
            .header_area_select {
                float: left;
                width: 60px;
                height: 30px;
                line-height: 30px;
                border: solid 1px #eaeaea;
                .per_block {
                    padding: 0px 10px;
                    text-decoration: none;
                    color: #838383;
                    display: block;
                    width: 60px;
                    .xl_bg {
                        position: absolute;
                        right: 8px;
                        top: 9px;
                        width: 6px;
                        height: 6px;
                        border: solid #a7a7a7;
                        border-width: 1px 1px 0 0;
                        -webkit-transform: rotate(135deg);
                        -moz-transform: rotate(135deg);
                        transform: rotate(135deg);
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        transition: all 0.3s
                    }
                }
                .zx_area_drop {
                    width: 60px;
                    min-width: 60px;
                    top: 29px;
                    border: 0;
                    margin: 0;
                    border-radius: 0;
                    padding: 0;
                    box-shadow: none;
                    border: 1px solid #eaeaea;
                    border-top: 0;
                    left: -1px;
                    max-height: 100px;
                    overflow: scroll;
                    overflow-x: hidden;
                    li {
                        width: 58px;
                        text-align: center;
                        padding-left: 0;
                        border: 0;
                        color: #333;
                        font-size: 14px;
                        a {
                            height: 28px !important;
                            line-height: 28px !important;
                            padding: 0;
                            span {
                                width: 58px;
                                display: block;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                -o-text-overflow: ellipsis;
                                overflow: hidden;
                                font-size: 14px;
                                text-align: left;
                                text-indent: 11px;
                            }
                            span.colored {
                                color: $color2;
                                background: #ecf1ff;
                            }
                        }
                        a:hover {
                            background: #ecf1ff;
                            color: $color2;
                        }
                    }
                }
            }
            .head_main_set .zx_area_drop {
                overflow: auto;
            }
            .head_week,
            .head_month {
                margin-left: 20px;
            }
            .block_cion {
                float: left;
                margin-right: 10px;
                margin-left: 10px;
                line-height: 30px;
            }
        }
        .pause_set {
            margin-left: 82px;
            height: 22px;
            cursor: pointer;
            width: 154px;
        }
        .pause_set i {
            background: url(../images/WechatIMG2.png) no-repeat;
            width: 14px;
            height: 14px;
            display: block;
            float: left;
            margin-top: 4px;
            margin-right: 10px;
        }
        .pause_set p {
            float: left;
            font-size: 14px;
        }
        .pause_set.active i {
            background: url(../images/WechatIMG1.png) no-repeat;
        }
        .email_set {
            margin-left: 80px;
        }
        .email_set p {
            float: left;
            font-size: 14px;
            line-height: 30px;
            margin-right: 15px;
        }
        .email_set input {
            width: 78%;
        }
        .appResult {
            position: relative;
            font-size: 14px;
            color: #333;
            .list {
                height: 300px;
                overflow-y: auto;
                .body-left {
                    width: 25%;
                    .left-content {
                        margin-top: 10px;
                        background: #f2f2f2;
                        word-wrap: break-word;
                    }
                }
            }
            .body-right {
                position: absolute;
                left: 28%;
                top: 0;
                z-index: 99;
                width: 72%;
                height: 300px;
                border: solid 1px #f4f4f4;
            }
        }
    }
    .modal-body-body {
        padding: 50px;
    }
}

.header_area_select .open .xl_bg {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    top: 12px !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.data_bg {
    -webkit-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    -moz-transition: background 300ms;
    transition: background 300ms;
}

.conTwo .ipt:focus {
    border-color: $color2 !important;
}

.conOne .ipt:focus {
    border-color: $color2 !important;
}

input.ng-invalid.ng-touched,
div.ng-invalid.ng-touched div.tokenfield,
div.ng-invalid.ng-touched.ui-select-container span.ui-select-toggle {
    border-color: $color2 !important;
}

.login_forget {
    margin-top: 20px;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
}

.ta-cd {
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
    margin-right: 8px;
    float: left;
    cursor: pointer;
    margin-top: 3px;
}

.mgt {
    margin-top: 30px;
    font-size: 14px;
}

.error_tit {
    text-align: center;
    font-size: 14px;
    color: #f00;
}

.clear {
    clear: both;
    overflow: hidden;
}

//fenye
.pagination {
    float: left;
    margin-right: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

th {
    text-align: left;
}

.bck_content_frame{
    //background-color: #FFFFFF;
    background-color:red;
    // /margin: 5px;
    
    //border-style: solid;
    // border-color: black;
    //border-bottom-width: thin;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
