.setting-menu {
    width: 15%;
    height: 100%;
    float: left;
    border-color: #e5e5e5;
    min-height: 700px;
    border-right-style: solid;
    border-right-width: thin;
}

.setting-menu-tab {
    border-color: #e5e5e5;
    border-bottom-style: solid;
    border-bottom-width: thin;
    line-height: 50px;
    border-top-style: solid;
    border-top-width: thin;
}