<div style="padding:0 30px;" ng-click="handleGlobalClick()">
  <div class="row notbookFixed" id="fixTitle" style="position: fixed;width: 1430px;background: #fff;z-index: 10;">
    <div class="expertPage">
      <div class="contentPart">
        <div class="header-button-group" ng-click="runCell();$event.stopPropagation();">
          <div class="header-pic"><img class="titleRunCell" data-toggle="dropdown" aria-haspopup="true "
                                       aria-expanded="true"></div>
        </div>
        <div class="header-button-group">
          <div class="header-pic"><img ng-click="runAll();$event.stopPropagation();" class="titleRunAll"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></div>
        </div>
        <select ng-model="selectStyle" ng-change="changeSelectType(selectStyle)" ng-click="$event.stopPropagation();"
                ng-options="a for a in codeStyle"
                style="float: left;width: 100px;height: 30px;margin-top: 10px;margin-right: 10px;font-size: 16px;">
        </select>
        <div class="header-button-group ">
          <div class="dropdown " style="float: left;">
            <button class="btn btn-default dropdown-toggle " type="button"
                    ng-click="saveAll();$event.stopPropagation();">
              {{"web_common_018"|translate}}
            </button>
          </div>
        </div>
        <select ng-model="selectData" ng-change="changeSelectDataList(selectData)" ng-click="$event.stopPropagation();"
                ng-options="item as item.name for item in arr"
                style="float: left;padding: 0 5px;height: 30px;margin-top: 10px;margin-right: 10px;font-size: 16px;">
          <option value="">{{"web_common_expertPart"|translate}}</option>
        </select>
        <div class="header-button-group ">
          <div class="dropdown " style="float: right;">
            <button class="btn btn-default dropdown-toggle " type="button"
                    ng-click="publishBtn();$event.stopPropagation();">
              {{"web_common_expertPart_layer_04"|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row notebookContent" style="border: solid 1px #f0f0f0;padding-top: 50px;">
    <div class="expertPageContent">
      <div class="title">Notebook</div>
      <div class="ipynb-edit cell" ng-repeat="cell in model.sourceCells track by $index ">
        <div class="content">
          <div class="row">
            <div class="col-xs-1 ipynb-left">
              <div ng-show="cell.isShow && cell.cell_type!=='markdown'">
                <button class="runBtn" ng-click="run($index);$event.stopPropagation();"></button>
              </div>
              <span ng-show="!cell.isShow && cell.cell_type ==='code'" style="font-size: large " class="pull-right ">In [{{cell.execution_count || ''}}]:</span>
            </div>
            <div class="col-lg-11 col-md-11 col-xs-11 ipynb-right" ng-click="openToolTip($index);$event.stopPropagation();">
            <textarea id="code" name="code" class="changeStyle" ui-codemirror="cmOption" ng-model="cell.code" style="border: 1px solid #ccc;font-size: 16px;background: #f9f9f9;border-radius: 4px;width: 100%;">
            {{cell.code}}
          </textarea>
              <div ng-repeat="output in cell.outputs track by $index " ng-model="cell.outputs" class="outPutCell">
                <div ng-show="output.output_type==='display_data'" class="output">
                  <img src="{{ 'data:image/png;base64,'+output.data[ 'image/png']}} ">
                </div>
                <div ng-show="output.output_type==='stream'" class="output" style="max-height: 300px;overflow-y: auto;">
                  <pre>{{output.text}}</pre>
                </div>
                <div ng-show="output.output_type==='execute_result' && output.data[ 'text/html']!==undefined "
                     class="output">
                  <div ng-bind-html="output.data[ 'text/html'] "></div>
                </div>
                <div ng-show="output.output_type==='execute_result' && !(output.data[ 'text/html']!==undefined)"
                     class="output">
                  {{output.data['text/plain']}}
                </div>
                <div ng-show="output.output_type==='error'" class="output error">
                  <!--{{output.traceback}}-->
                  <span style="color: red;">{{output.ename}}</span><br/>
                  <span style="color: #333;">{{output.evalue}}</span><br/>
                </div>
              </div>
              <div class="tool-tip " ng-show="cell.isShow ">
                <button class="upAddBtn" ng-click="upAdd($index,item);$event.stopPropagation();"></button>
                <button class="downAddBtn" ng-click="downAdd($index,item);$event.stopPropagation();"></button>
                <button class="deleteRedBtn" ng-click="codeMirrorDelete($index,item);$event.stopPropagation();"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

