<div class="loginPage" id="login">
    <div class="content">
        <div class="contentModel">
            <form class="main_form" name="frm">
                <div class="conCont">
                    <div class="conTitle">
                        <p>{{'web_login_signin'| translate }}</p>
                    </div>
                    <div class="conError">
                        <p class="error_tit " ng-if="error_name">{{ msg | translate }} </p>
                    </div>
                    <div class="conOne">
                        <label>{{'web_login_login'| translate }}</label>
                        <br/>
                        <input class="ipt" placeholder="{{'web_login_valmsg_login'| translate }}" name="username" autocomplete="off" type="text" ng-model="usermessage.username" tabindex="1" required>
                    </div>
                    <div class="conOne">
                        <label>{{'web_login_password'| translate }}</label>
                        <br/>
                        <input class="ipt" placeholder="{{'web_login_valmsg_pass'| translate }}" name="password" type="password" autocomplete="off" ng-model="usermessage.password" tabindex="2" ng-keydown="enterLogin($event)" required>
                    </div>
                    <div>
                        <button class="btn" ng-disabled="!(usermessage.username && usermessage.password)" ng-click="frm.$valid && login()">{{'web_login_signin'| translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .modal-content {
        background: rgba(255, 255, 255, 0);
        border: none;
    }
</style>