<div>
    <div class="setting-menu">
        <div align="center" ng-class="{'active' : tab == 1}" ng-click="clicked(1)" class="setting-menu-tab">
            System Setting
        </div>
        <div align="center" ng-click="userManagementShow()" class="setting-menu-tab">
            User Management
            <i ng-show="!isUserManagementShow" class="glyphicon glyphicon-menu-down"></i>
            <i ng-show="isUserManagementShow" class="glyphicon glyphicon-menu-up"></i>
        </div>
        <div ng-show="isUserManagementShow" align="center" ng-class="{'active' : tab == 2}" ng-click="clicked(2)" class="setting-menu-tab">
            Add User
        </div>
        <div ng-show="isUserManagementShow" align="center" ng-class="{'active' : tab == 3}" ng-click="clicked(3)" class="setting-menu-tab">
            Search User
        </div>
        <div align="center" ng-click="cameraSettingShow()" class="setting-menu-tab">
            Camera Setting
            <i ng-show="!isCameraSettingShow" class="glyphicon glyphicon-menu-down"></i>
            <i ng-show="isCameraSettingShow" class="glyphicon glyphicon-menu-up"></i>
        </div>
        <div align="center" ng-show="isCameraSettingShow" ng-class="{'active' : tab == 4}" ng-click="clicked(4)" class="setting-menu-tab">
            Add Camera
        </div>
        <div align="center" ng-show="isCameraSettingShow" ng-repeat="camera in cameras" class="setting-menu-tab" ng-class="{'active' : tab == 5}" ng-click="clicked(5)">
            <span style="vertical-align:middle;display: table-cell;">Camera {{camera.name}}</span>
        </div>
    </div>
    <div style="width:85%;height:100%;float:right;min-height: 700px;">
        <div ng-show='tab == 0'>
            <div ng-controller="SettingMainCtrl">
                <div setting-main class="setting-main"></div>
            </div>
        </div>
        <div ng-show='tab == 1'>
            <div ng-controller="SysSettingCtrl">
                <div sys-setting class="sys-setting "></div>
            </div>
        </div>
        <div ng-show='tab == 2'>
            <div ng-controller="AddUserCtrl">
                <div add-user class="add-user"></div>
            </div>
        </div>
        <div ng-show='tab == 3'>
            <div ng-controller="SearchUserCtrl">
                <div search-user></div>
            </div>
        </div>
        <div ng-show='tab == 4'>
            <div ng-controller="AddCameraCtrl">
                <div add-camera class="add-camera"></div>
            </div>
        </div>
    </div>

</div>

</div>
</div>s