<!--<div class="title">文件 <span class="addBgPic" style="color: #00A000" ng-click="createFile()"></span></div>-->
<div class="title">文件 <span class="addBgPic" style="color: #00A000" ng-click="createModel(appName)"></span></div>
<div class="table_content">
  <table class="contentTitle table">
    <tr class="title">
      <td style="vertical-align: middle;">名称</td>
      <td style="vertical-align: middle;">大小</td>
      <td style="vertical-align: middle;">修改时间</td>
      <td style="vertical-align: middle;">操作</td>
    </tr>
    <tr class="content" ng-repeat="file in allFiles">
      <td style="vertical-align: middle;">{{file.name}}</td>
      <td style="vertical-align: middle;">{{file.size}}</td>
      <td style="vertical-align: middle;">{{file.last_modified}}</td>
      <td style="vertical-align: middle;">
        <!--<span class="btn"  ng-click="open(schedule.SCHEDULE_NAME,schedule.STATE,schedule.APP_ID)">-->
          <!--打开-->
        <!--</span>-->
        <span class="btn"  ng-click="openInNotebook(file)">
          Notebook中打开
        </span>
        <span class="btn" ng-click="delModel(file)">删除</span>
        <!--<span class="btn" ng-click="editSchedule(schedule.SCHEDULE_NAME,schedule)">编辑</span>-->
      </td>
    </tr>
  </table>
</div>

<!--<ul class="content">-->
  <!--<li ng-repeat="item in allFiles" index="$index" >-->
    <!--<div class="app_set_main" ng-click="openProject(item)">-->
    <!--<div class="header">-->
      <!--<span style="padding-left: 20px">{{item}}</span>-->
      <!--<img src="../images/delete.png"-->
           <!--style="display:inline-block; float:right; margin-right: 10px;margin-top: 25px"-->
           <!--ng-click="delModel(item)">-->
    <!--</div>-->
    <!--<div class="body">-->
    <!--{{item.MODEL_INFO}}-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="footer">{{item.COMMENT}}</div>&ndash;&gt;-->
    <!--</div>-->
  <!--</li>-->
  <!--<li class="newModel">-->
    <!--<div class="app_set_main">-->
    <!--<div class="model add_btn" ng-click="createModel(appName)"></div>-->
      <!--</div>-->
  <!--</li>-->
<!--</ul>-->


