<div>
    <form name="frm">
        <div style="margin:auto;width:400px">
            <h4 style="margin-top:20px">{{msg}} Camera</h4>
            <div style="margin-top:20px;margin-bottom:20px;height:34px;">
                <div style="float:left;height:34px;vertical-align:middle;width:40%">
                    <label>Name</label>
                </div>
                <div style="float:right;width:60%">
                    <input type="text" ng-model="camera.name" class="form-control" placeholder="Name" aria-describedby="basic-addon1" style="border-radius:4px">
                </div>
            </div>
            <div style="margin-bottom:20px;height:34px;">
                <div style="float:left;height:34px;width:40%">
                    <label>Location</label>
                </div>
                <div style="float:right;width:60%">
                    <input type="text" ng-model="camera.location" class="form-control" placeholder="Location" aria-describedby="basic-addon1" style="border-radius:4px">
                </div>
            </div>
            <div style="margin-bottom:20px;height:34px;">
                <div style="float:left;height:34px;width:40%">
                    <label>RTSP URL</label>
                </div>
                <div style="float:right;width:60%">
                    <input type="text" ng-model="camera.rtsp" class="form-control" placeholder="RTSP URL" aria-describedby="basic-addon1" style="border-radius:4px">
                </div>
            </div>
            <div style="margin-bottom:20px;height:34px;">
                <div style="float:left;height:34px;width:40%;">
                    <label>Status </label>
                </div>
                <div style="float:right;width:60%" class="checkbox">
                    <label><input type="checkbox" ng-model="camera.status" ng-checked="camera.status">Active</label>
                </div>
            </div>
            <div style="height:80px;">
                <div style="float:left;width:40%;vertical-align:middle;display: table-cell;">
                    <label style="display: inline-block;vertical-align: middle">Remarks</label>
                </div>
                <div style="float:right;width:60%">
                    <textarea class="form-control" ng-model="camera.remarks" rows="3" placeholder="Remarks"></textarea>
                </div>
            </div>
            <div style="margin-bottom:20px;height:34px;">
                <div style="float:left;height:34px;">
                </div>
                <div style="float:right;width:60%;">
                    <button style="float:right;width:70px;margin-left:10px;" type="button" class="btn btn-primary" ui-sref="setting" ui-sref-opts="{reload: true, notify: true} ">Cancel</button>
                    <button style="float:right;width:70px" type="button" ng-click="applyCamera()" class="btn btn-primary">{{msg}}</button>
                </div>
            </div>
        </div>
    </form>
</div>