<div>
    <div>
        <div style="border-radius:5px;background-color:rgb(236, 233, 233);margin:10px;min-height:150px;padding:10px;">
            <h4>System Setting</h4>
            <table style="width:50%; margin:10px;vertical-align: middle; border-color:rgb(236, 233, 233)">
                <tbody style="vertical-align: middle; border-color:rgb(236, 233, 233)">
                    <tr style="vertical-align: middle; border-color:rgb(236, 233, 233)">
                        <td style="width: 120px;">Similarity Level (%)</td>
                        <td>High:</td>
                        <td>100</td>
                        <td>-</td>
                        <td>
                            <input type="text" ng-model="ss.high" class="form-control" placeholder="100" aria-describedby="basic-addon1" style="border-radius:4px;width: 30%;">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Medium</td>
                        <td>80</td>
                        <td>-</td>
                        <td>
                            <input type="text" ng-model="ss.medium" class="form-control" placeholder="80" aria-describedby="basic-addon1" style="border-radius:4px;width: 30%;">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Low</td>
                        <td>60</td>
                        <td>-</td>
                        <td>
                            <input type="text" ng-model="ss.low" class="form-control" placeholder="60" aria-describedby="basic-addon1" style="border-radius:4px;width: 30%;">
                        </td>
                    </tr>
                </tbody>
            </table>
            Note:Similarity lower than 40 will consider as non-Registered People
        </div>
    </div>
    <div style="border-radius:5px;background-color:rgb(236, 233, 233);margin:10px; margin-top:0px;min-height:150px;padding:10px;">
        <h4>SenseServer Setting</h4>
        <table style="margin:10px;vertical-align: middle; border-color:rgb(236, 233, 233)">
            <tbody style="vertical-align: middle; border-color:rgb(236, 233, 233)">
                <tr style="vertical-align: middle; border-color:rgb(236, 233, 233)">
                    <td style="width: 200px;">DataBase Name</td>
                    <td>
                        <input type="text" ng-model="ss.db" class="form-control" placeholder="staffDB" aria-describedby="basic-addon1" style="border-radius:4px;">
                    </td>
                    <td>Need to Re-initialize senseServer after changing the database name.</td>
                </tr>
                <tr>
                    <td style="width: 200px;">SenseServer Connection</td>
                    <td>
                        <input type="text" ng-model="ss.ip" class="form-control" placeholder="e.g.192.168.1.100:3401" aria-describedby="basic-addon1" style="border-radius:4px;">
                    </td>
                    <td>SenseServer Connection.Use[IP]:[Port]format</td>
                </tr>

            </tbody>
        </table>
        <button type="button" ng-click="initServer()" class="btn btn-primary red">Init SenseServer</button>

    </div>
    <div>
        <button type="button" ng-click="save()" class="btn btn-primary red">Save</button>
        <button type="button" ng-click="cancel()" class="btn btn-primary red">Cancel</button>
        <button type="button" ng-click="test()" class="btn btn-primary red">Test Connection</button>
    </div>
</div>
</div>